In [50]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import math

In [31]:
df_trainingdata = pd.read_csv("distance_fare_data.csv")

In [32]:
df_trainingdata.head()

   Distance_km  Fare_price
0    37.454012   57.780894
1    95.071431  148.768414
2    73.199394  116.264454
3    59.865848   91.227016
4    15.601864   37.731669

In [33]:
distance_array = np.array(df_trainingdata["Distance_km"])

In [34]:
fare_array = np.array(df_trainingdata["Fare_price"])

In [36]:
training_set = np.zeros((np.size(fare_array), 2))

In [ ]:
for i in range(np.size(distance_array)):
    data_point = np.array([distance_array[i],fare_array[i]])    
    training_set[i] = data_point
training_set

In [44]:
Weight = 1.45
bias = 0.43

In [45]:
def prediction(feature, weight, bias):
    y_hat = (weight*feature) + bias
    return y_hat

In [53]:
def Error_calc():
    total_error = 0
    for i in range(np.size(fare_array)):
        Y_hat =  prediction(distance_array[i],Weight,bias)
        squarred_error = math.pow(fare_array[i] - Y_hat,2)
        total_error += squarred_error
    return total_error/(2*np.size(fare_array))

In [54]:
error = Error_calc()
error

39.435332530558796