In [4]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df_trainingdata = pd.read_csv("distance_fare_data.csv")

In [ ]:
df_trainingdata.head()

   Distance_km  Fare_price
0    37.454012   57.780894
1    95.071431  148.768414
2    73.199394  116.264454
3    59.865848   91.227016
4    15.601864   37.731669

In [8]:
distance_array = np.array(df_trainingdata["Distance_km"])

In [12]:
fare_array = np.array(df_trainingdata["Fare_price"])